html, body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
}

.header{
    top:0;
    margin-top: 10px;
    width: 100%;
    z-index: 10;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNTiVT_yo52j9KvIwLA-ZSnVTDnIYWV6oTBVnVNQgN2Yy1Eon7eASc1gKCUG09OhsHesQ&usqp=CAU");
    background-size: cover;
    height :800px;

}

.nav ul{
    margin-top: -10px;
    padding:20px 25px;
    text-align: center;

   }
.nav a{
    padding:20px 20px;
    align-items: center;
    text-align: center;
    /* color: #FFF; */
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;


 }

 .name{
    text-align: center;
    margin-top: 20px;
    padding: 180px;
    color:white;
    /* color: #466995; */
    
}
 .main{
     text-align: center;
     background-color: #F5F5F5;
     padding-bottom: 20px;

 }

.about-me{
    margin-top: 0px;
    padding:50px;
    text-align: center;
}
p{
    position:relative;
    left:25%;
    width:50%;
    font-size: 20px;
    text-align: left; 
}
.projects div{
    display:inline-block;
    margin-top: 50px;
    padding:15px;

}
img{
    width:250px;
    height: 300px;
}

.project-item{
    margin: 40px;
    border: #466995 solid 1px;
    width: 270px;
    height: 100%;
}

.skills{
    margin-top: 50px;
    padding:15px;


}
.skills-list{
    text-align:center;
    font-size: 20px;
}
.skills-item{
    color: #466995;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}
.education{
    margin: 50px;

}
.education li{
    padding: 10px;
    
}
.footer{
    /*background-color: #DBE9EE;*/

    background-color: #466995;
    text-align: center;
    padding: 20px 0;
}

.footer a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 20px;
}
h4{
    text-decoration: none;
}
a{
    text-decoration: none;
}